@import 'paths';

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,200&family=Dancing+Script:wght@700&display=swap');

/* GENERAL CONFIGS */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 6px;

    -webkit-user-drag: none;
    -webkit-user-select: none;
}
header, footer {
    text-align: center;
}
h1 {
    font-family: $h1-font-title;
    font-size: $h1-size;
    margin: 1.2rem;
}
h3 {
    font-family: $h3-font-subtitle;
    font-size: $h3-size;
    font-weight: bold;
    font-style: italic;
}
p {
    font-size: $p-size;
}
p, .btn {
    font-family: $p-font-text;
    font-weight: 400;
}
.btn {
    padding: 10px;
    font-size: 0.680rem;
    cursor: pointer;
    color: $button-text;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    display: inline-block;
}
.container {
    display: block;
}


@media (max-width: 600px) {

}



/* MOBILE FIRST: ABOUT */
/* header {
    padding: 10vw;
} */

/* MOBILE FISRT: STORE HERE */


/* MOBILE FIRTS: FOOTER */



/* @media (min-width: 250px) and (max-width: 960px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
} */

/* @media (min-width: 960px) and (max-width: 1024px) {
    .photo-2 {
        height: 460px;
    }
    .text-description {
        padding: 2vw 3vw;
    }
} */

/* @media (min-width: 1024px) and (max-width: 1800px) {
    .bg-2 {
        max-width: 95%;
        margin: 0 auto;
        background-color: $details-g;
    }
     .bg-1 {
        background: $bg-base;
    }
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        padding: 2vw;
    }
    h1 {
        font-size: $h1-maxscreen-size);
    }
    h3 {
        font-size: $h3-maxscreen-size);
    }
    .text-description {
        font-size: $p-maxscreen-size);
        padding: 4vw 4vw;
    }
    .btn-see {
        font-size: $btn-see-maxscreen-font-size);
        margin-right: 22vw;
    }
    .btn-buy {
        display: none;
        font-size: $btn-buy$maxscreenfont-size);
    }
    img.photo-2 {
        margin-top: 1vw;
        margin-left: 4vw;
        width: 90vw;
    }
    .photo-2 {
        transform: rotate(-15deg);
    }
    .photo-3, .photo-4 {
        width: 45%;
    }
    .photo-3 {
        position: relative;
        top: -20vw;
    }
    .photo-4 {
        left: 0vw;
        top: -2vw;
    }
    #footer {
        margin-top: 8vw;
        padding: 10vw;
    }
    #footer p {
        font-size: $p-maxscreen-size);
    }
} */