@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,200&family=Dancing+Script:wght@700&display=swap");
header {
  margin: 2rem 0;
}
header h1 {
  font-size: 3rem;
  color: #000;
}
header h3 {
  font-size: 0.82rem;
}
header ul li {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 40px 0;
  background-color: #8C1B2F;
  color: #fff;
}
header ul li:hover {
  background-color: #027373;
  transition: 0.4s;
}

.buttons-log {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: end;
}
.buttons-log button {
  color: black;
  padding: 20px;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.buttons-log button.isBtnLog {
  background-color: #A6BF49;
}
.buttons-log button.isBtnLog:hover {
  background-color: #557314;
  transition: 0.6s;
}

/* header h1, h3 {
    font-size: 3rem;
    color: #000;
}
header {
    margin: 2rem 0;
}

header ul li {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 40px 0;
    background-color: var(--button-color-r);
    color: #fff;
}
li:hover {
    background-color: var(--button-color-r-hover);
    transition: .4s;
}

.buttons-log {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: end;
}
.buttons-log button {
    color: black;
    padding: 20px;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.isBtnLog {
    background-color: var(--button-color-g);
}
.isBtnLog:hover {
    background-color: var(--button-color-g-hover);
    transition: .6s;
} */
.info {
  margin: 30px;
}

.btn-see {
  place-self: flex-start end;
  font-size: 3vw;
  background-color: #8C1B2F;
}

.btn-see:hover {
  background-color: #027373;
  border: 1px solid #2C4001;
  box-shadow: 1px 3px 5px black;
}

.btn-see:focus {
  background: #027373;
}

.btn-buy {
  background: #A6BF49;
  font-size: 4vw;
}

.btn-buy:hover {
  background: #557314;
  border: 1px solid #2C4001;
  box-shadow: 1px 3px 5px black;
}

.btn-buy:focus {
  background: #557314;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 30px;
}

form input[type=text] {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

/* GENERAL CONFIGS */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 6px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

header, footer {
  text-align: center;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  margin: 1.2rem;
}

h3 {
  font-family: "Bitter", serif;
  font-size: 0.82rem;
  font-weight: bold;
  font-style: italic;
}

p {
  font-size: 0.87rem;
}

p, .btn {
  font-family: "Bitter", serif;
  font-weight: 400;
}

.btn {
  padding: 10px;
  font-size: 0.68rem;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  display: inline-block;
}

.container {
  display: block;
}

/* MOBILE FIRST: ABOUT */
/* header {
    padding: 10vw;
} */
/* MOBILE FISRT: STORE HERE */
/* MOBILE FIRTS: FOOTER */
/* @media (min-width: 250px) and (max-width: 960px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
} */
/* @media (min-width: 960px) and (max-width: 1024px) {
    .photo-2 {
        height: 460px;
    }
    .text-description {
        padding: 2vw 3vw;
    }
} */
/* @media (min-width: 1024px) and (max-width: 1800px) {
    .bg-2 {
        max-width: 95%;
        margin: 0 auto;
        background-color: $details-g;
    }
     .bg-1 {
        background: $bg-base;
    }
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        padding: 2vw;
    }
    h1 {
        font-size: $h1-maxscreen-size);
    }
    h3 {
        font-size: $h3-maxscreen-size);
    }
    .text-description {
        font-size: $p-maxscreen-size);
        padding: 4vw 4vw;
    }
    .btn-see {
        font-size: $btn-see-maxscreen-font-size);
        margin-right: 22vw;
    }
    .btn-buy {
        display: none;
        font-size: $btn-buy$maxscreenfont-size);
    }
    img.photo-2 {
        margin-top: 1vw;
        margin-left: 4vw;
        width: 90vw;
    }
    .photo-2 {
        transform: rotate(-15deg);
    }
    .photo-3, .photo-4 {
        width: 45%;
    }
    .photo-3 {
        position: relative;
        top: -20vw;
    }
    .photo-4 {
        left: 0vw;
        top: -2vw;
    }
    #footer {
        margin-top: 8vw;
        padding: 10vw;
    }
    #footer p {
        font-size: $p-maxscreen-size);
    }
} */

/*# sourceMappingURL=global.css.map */
