@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,200&family=Dancing+Script:wght@700&display=swap');

/*
H1
font-family: 'Dancing Script', cursive;
{
Bold 700
}

font-family: 'Bitter', serif; 
{
Subtitle:
ExtraLight 200 Italic

Text:
Regular 400

Extra text fine:
Light 300
}
 */

/* DINAMIC CSS */
:root{
    --h1-font-title: 'Dancing Script', cursive;
    --h3-font-subtitle: 'Bitter', serif;
    --p--font-text: 'Bitter', serif;

    --h1-size: 15vw;
    --h3-size: 3vw;
    --p-size: 3.4vw;
    --btn-see-font-size: 3vw;
    --btn-buy-font-size: 4vw; 

    --h1-maxscreen-size: 5vw;
    --h3-maxscreen-size: 1.2vw;
    --p-maxscreen-size: 1.4vw;
    --btn-see-maxscreen-font-size: 1.3vw;
    --btn-buy--maxscreenfont-size: 2.3vw;

    --bg-base: #ebebeb;
    --bg-base-2: #F2CD88;

    --buttom-text: #f2f2f2;

    --text-color: #f2f2f2;

    --buttom-color-r: #8C1B2F;
    --buttom-color-r-hover: #027373;

    --buttom-color-g: #A6BF49;
    --buttom-color-g-hover: #557314;

    --details-o: #F2B077;
    --details-g: #2C4001;
}

/* GENERAL CONFIGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    border-radius: 6px;
}
h1 {
    font-family: var(--h1-font-title);
    font-size: var(--h1-size);
    text-align: center;
    margin: 0.8rem;
}
h3 {
    font-family: var(--h3-font-subtitle);
    font-style: italic;
    font-weight: 200;
    font-size: var(--h3-size);
    text-align: center;
}
p {
    font-size: var(--p-size);
}
p, .btn {
    font-family: var(--p-font-text);
    font-weight: 400;
}
.btn {
    color: var(--buttom-text);
    font-weight: 600;
    border-radius: 6px;
    padding: 20px 15px;
    cursor: pointer;
}

/* MOBILE FIRST: ABOUT */
#header {
    padding: 10vw;
}

.bg-1 {
    background: var(--bg-base);
}
.bg-photo {
    background-image: url('./media/moon.jpg');
    background-position: 60%;
    margin: 5vh 0 15vh 0;
    padding: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;
}
.info {
    display: grid;
}
.btn-see {
    place-self: flex-start end;
    font-size: var(--btn-see-font-size);
    background: var(--buttom-color-r);
}
.btn-see:hover {
    background: var(--buttom-color-r-hover);
    border: 1px solid var(--details-g);
    box-shadow: 1px 3px 5px black;
}
.btn-see:focus {
    background: var(--buttom-color-r-hover);
}
.btn-buy {
    background: var(--buttom-color-g);
    font-size: var(--btn-buy-font-size);
    z-index: 2;
    position: relative;
    left: -48vw;
    bottom: 40vw;
}
.btn-buy:hover {
    background: var(--buttom-color-g-hover);
    border: 1px solid var(--details-g);
    box-shadow: 1px 3px 5px black;
}
.btn-buy:focus {
    background: var(--buttom-color-g-hover);
}
.text-description {
    margin: 1.2rem;
    padding: 0 6vw;
    font-size: var(--p-size);
    color: var(--text-color);
    text-indent: 1.2rem;
    word-spacing: 0.2rem;
}

/* MOBILE FISRT: STORE HERE */
.extra-photos {
    max-height: 110vw;
    background: var(--bg-base-2);
}
.photo-3, .photo-4 {
    position: relative;
}
.photo-3 {
    z-index: 1;
    width: 70vw;
    top: -4vw;
    left: 5vw;
}
.photo-4 {
    width: 65vw;
    top: -14vw;
    left: 30vw;
}

/* MOBILE FIRTS: FOOTER */
#footer {
    padding: 25vw 18vw;
}

@media (min-width: 250px) and (max-width: 960px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 960px) and (max-width: 1024px) {
    .photo-2 {
        height: 460px;
    }
    .text-description {
        padding: 2vw 3vw;
    }
}

@media (min-width: 1024px) and (max-width: 1800px) {
    .bg-2 {
        max-width: 95%;
        margin: 0 auto;
        background-color: var(--details-g);
    }
     .bg-1 {
        background: var(--bg-base);
    }
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        padding: 2vw;
    }
    h1 {
        font-size: var(--h1-maxscreen-size);
    }
    h3 {
        font-size: var(--h3-maxscreen-size);
    }
    .text-description {
        font-size: var(--p-maxscreen-size);
        padding: 4vw 4vw;
    }
    .btn-see {
        font-size: var(--btn-see-maxscreen-font-size);
        margin-right: 22vw;
    }
    .btn-buy {
        display: none;
        font-size: var(--btn-buy--maxscreenfont-size);
    }
    img.photo-2 {
        margin-top: 1vw;
        margin-left: 4vw;
        width: 90vw;
    }
    .photo-2 {
        transform: rotate(-15deg);
    }
    .photo-3, .photo-4 {
        width: 45%;
    }
    .photo-3 {
        position: relative;
        top: -20vw;
    }
    .photo-4 {
        left: 0vw;
        top: -2vw;
    }
    #footer {
        margin-top: 8vw;
        padding: 10vw;
    }
    #footer p {
        font-size: var(--p-maxscreen-size);
    }
}