$h1-font-title: 'Dancing Script', cursive;
$h3-font-subtitle: 'Bitter', serif;
$p-font-text: sans-serif;

$h1-size: 6rem;
$h3-size: 1.2rem;
$p-size: 1.4rem;
$btn-menu-font-size: 1rem;
$btn-see-font-size: 1.4rem;
$btn-buy-font-size: 1.4rem; 

$h1-maxscreen-size: 5vw;
$h3-maxscreen-size: 1.2vw;
$p-maxscreen-size: 1.4vw;
$btn-see-maxscreen-font-size: 1.3vw;
$btn-buy-maxscreenfont-size: 2.3vw;

$bg-base: #ebebeb;
$bg-base-2: #F2CD88;

$button-text: #f2f2f2;

$color-black: #000;
$text-color: #f2f2f2;

$button-color-r: #8C1B2F;
$button-color-r-hover: #027373;

$button-color-g: #A6BF49;
$button-color-g-hover: #557314;

$details-o: #F2B077;
$details-g: #2C4001;